/* ==UserStyle==
@name           Hari Seldon Shogi Pieces
@version        1.0.0
@namespace      https://github.com/LuffyKudo/Shogi-Themes
@description    Play shogi using Hari Seldon's Shogi Pieces on Lishogi.org!
@author         LuffyKudo
@homepageURL    https://github.com/LuffyKudo/Shogi-Themes/tree/main/Hari%20Seldon%20Shogi%20Pieces
@supportURL     https://github.com/LuffyKudo/Shogi-Themes/issues
@updateURL      
@preprocessor   stylus
@var select kanji "Kanji Style" {
    "2-Kanji":"2kanji",
    "1-Kanji":"1kanji"
}
@var checkbox red "Red Promoted Pieces" 0
@var select kings "Kings Style" {
    "Gyoku-Ou":"gyokuou",
    "Ou-Gyoku":"ougyoku",
    "Double Gyoku":"gyoku",
    "Double Ou":"ou"    
}

==/UserStyle== */
